$lavender: #666ca3;
$dark-blue: #13183f;
$gray: #83869a;
$hot-pink:#f74780;
$light-pink:#ffa7c3;
$white: #ffffff;
$first-gradient: linear-gradient(#ff6f48, #f02aa6);
$second-gradient: linear-gradient(#4851ff, #f02aa6);
$background-gradient: linear-gradient(#ffffff,#ffffff,#666ca3);
$font-family:'Plus Jakarta Sans',sans-serif;
$font-weight:(
    "medium": 500,
    "bold":700,
    "extrabold": 800
);
$tablet:900px;
$desktop:1440px;
